html {
    margin: 0;
    padding: 0; 
    scroll-behavior: smooth;
    font-family: 'Assistant', sans-serif;

    background-color: #0D0C18;
}

body {
    margin: 0;
    padding: 0; 
    scroll-behavior: smooth;

}

/* Footer */

footer {
    text-align: center;
}

footer h3 {
    font-family: 'Assistant', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    color: #FFFFFF;
    margin-bottom: 2rem;
}

.footer-section {
    position: relative;
    width: 100%;
    height: 35vh; /* adjust to match your first screenshot */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
}

/* font */

h1 {
    font-family: 'Assistant', sans-serif;
    font-weight: 700; 
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #FFFFFF;
}

p {
    font-family: 'Assistant', sans-serif;
    font-weight: 400; 
    font-size: 1.5rem;
    margin: 0;
    color: #FFFFFF;
}

/* space image */

.hero {
    position: relative;
    width: 100%;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    
    overflow: visible;
}

/* Background image */

.hero-bg {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    object-fit: cover;

    z-index: -1;
}

.footer-bg {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    object-fit: cover;

    z-index: -1;
}

/* UFO images */
.ufo {
    position: absolute;
    z-index: 0;
    pointer-events: none;
}

.ufo-left {
    left: 8%;
    top: 25%;
}

.ufo-right {
    width: 40%;
    left: 1%;
    bottom: -5%;
}

.ufo-bottom {
    width: 50%;
    right: 0;
    bottom: -10%;
    
}

.logo-icon {
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%; 
}

header {

    /*
    position: sticky;
    top: 0; 
    z-index: 1000;
    */

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 2rem 7rem; 
    text-decoration: none;
}

nav {
    display: flex;
    gap: 5rem;
    text-decoration: none;

    /* nav box */
    padding: 1rem 2rem;
    border-radius: 100rem;
    background-color: #262626;

}

nav a {
    font-family: 'Assistant', sans-serif;
    font-weight: 400; 
    font-size: 1.2rem;

    color: #FFFFFF;
    text-decoration: none;
    padding: 0.1rem 1rem;
    border-radius: 100rem; 
    text-decoration: none;

    transition: background 0.3s ease, color 0.3s ease;

}

.navDiv {
    display: flex;
    align-items: center;

}

.introDiv {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    text-align: center;

    padding: 8rem;

}

.introDiv p {
    width: 45vw
}

/* Focus section */

.focus-section {
    width: 60%;
    margin: 0 auto;
    padding-top: 10rem;
}

.space-down {
    margin-bottom: 4rem;
}

.focus-section h1 {
    margin-bottom: 5rem;

}

.focus-section h2 {
    font-family: 'Assistant', sans-serif;
    font-weight: 400; 
    font-size: 2rem;
    margin-bottom: -1rem;

    color: #FFFFFF;

}

.focus-section p {
    margin-bottom: 1rem;
}

.focus-title {
    margin-bottom: 1rem;
}

.focus-img {
    width: 100%;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
}

.read-more {
    font-family: 'Assistant', sans-serif;
    font-weight: 400; 
    font-size: 1.5rem;
    color: #FFFFFF;
    
    text-underline-offset: 0.5rem;
}

/* Visualization section */

.vis-section {
    width: 60%;
    margin: 0 auto;
    padding-top: 2rem;
    margin-bottom: 3rem;
}

.placeholder {
    background-color: aliceblue;
    width:100%;
    height: 30rem;
    margin-bottom: 2rem;
}

.smallDes {
    margin-bottom: 3rem;
}

/* Conclusion section */

.conclusion {
    width: 60%;
    margin: 0 auto;
    padding-top: 2rem;
    margin-bottom: 3rem;
}

.conclusion h1 {
    margin-bottom: 5rem;

}


.conclusion h2 {
    font-family: 'Assistant', sans-serif;
    font-weight: 400; 
    font-size: 2rem;
    margin-bottom: -1rem;

    color: #FFFFFF;

}

